body{
    background:rgb(252, 254, 255);
    width:100%;
    color:rgb(27, 16, 16);
}
.wrapper{
    margin: 15px;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header{
    text-align: center;
    padding: 10px;
}
.navi{
   display:flex;flex-wrap: wrap;gap:50px;
   margin-left: 250px;
}
section>h3{
    text-align: center;
}
section{
    border: 1px solid turquoise;
    width: 500px;
    font-size:25px;
    height: fit-content;
    line-height: 40px;
    color:rgb(9, 31, 51);
    margin-left: 390px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 8px 10px;
    border-radius: 50px;
    background:linear-gradient(90deg,rgb(194, 231, 247), rgb(248, 204, 232));
    transition:0.3 ease;
}
section:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 15px rgb(253, 174, 231);
}
a{
    color:aliceblue;
    text-decoration: none;
}
.box{
    border: 1px solid rgb(68, 67, 67);
    width: 150px;
    text-align: center;
    font-size: large;
    padding: 8px 10px;
    border-radius: 999px;
    box-shadow: 10px rgb(96, 96, 221);
    background: linear-gradient(90deg, rgb(35, 138, 242), rgb(245, 138, 253));
}
